<a href="https://colab.research.google.com/github/tirolezzo/120_years_of_Olympic_history/blob/main/120_years_of_Olympic_history.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1> Projeto: 120 Anos das Olimpíadas</h1>
<p><b> Por: Ricardo Freire</b></p>
<p> Data: 23/08/2023 </p>
<p> Este projeto engloba os dados das Olímpiadas realizadas de 1896 a 2016. </p>

In [93]:
import pandas as pd

In [94]:
atleta = pd.read_csv('/content/drive/MyDrive/athlete_events.csv')
atleta

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [95]:
regiao = pd.read_csv('/content/drive/MyDrive/noc_regions.csv')
regiao

     NOC       region                 notes
0    AFG  Afghanistan                   NaN
1    AHO      Curacao  Netherlands Antilles
2    ALB      Albania                   NaN
3    ALG      Algeria                   NaN
4    AND      Andorra                   NaN
..   ...          ...                   ...
225  YEM        Yemen                   NaN
226  YMD        Yemen           South Yemen
227  YUG       Serbia            Yugoslavia
228  ZAM       Zambia                   NaN
229  ZIM     Zimbabwe                   NaN

[230 rows x 3 columns]

In [96]:
olim =pd.merge(atleta, regiao, on = 'NOC', how = 'left')
olim.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,China,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,China,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,Denmark,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark,NaN
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,Netherlands,NaN

In [97]:
olim.head(3)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,China,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,China,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,Denmark,NaN

In [98]:
olim.head(10)[['Name']]

                       Name
0                 A Dijiang
1                  A Lamusi
2       Gunnar Nielsen Aaby
3      Edgar Lindenau Aabye
4  Christine Jacoba Aaftink
5  Christine Jacoba Aaftink
6  Christine Jacoba Aaftink
7  Christine Jacoba Aaftink
8  Christine Jacoba Aaftink
9  Christine Jacoba Aaftink

In [99]:
olim.shape

(271116, 17)

In [100]:
olim.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 271116 entries, 0 to 271115
Data columns (total 17 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
 15  region  270746 non-null  object
 16  notes   5039 non-null    object
dtypes: float64(3), int64(2), object(12)
memory usage: 37.2+ MB

In [101]:
olim.columns

Index(['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games',
       'Year', 'Season', 'City', 'Sport', 'Event', 'Medal', 'region', 'notes'],
      dtype='object')

In [102]:
olim = olim.rename(columns={'Name':'Nome', 'Sex' : 'Sexo', 'Age' : 'Idade', 'Height' : 'Altura', 'Weight' : 'Peso',
                            'Team': 'Time', 'NOC': 'Sigla_pais', 'Games': 'Jogos','Year': 'Ano', 'Season': 'Temporada', 'City': 'Cidade',
                            'Sport': 'Esporte', 'Event' : 'Evento', 'Medal': 'Medalha', 'region':'Pais', 'notes': 'Observacao'})
olim.head()

,ID,Nome,Sexo,Idade,Altura,Peso,Time,Sigla_pais,Jogos,Ano,Temporada,Cidade,Esporte,Evento,Medalha,Pais,Observacao
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,China,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,China,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,Denmark,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark,NaN
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,Netherlands,NaN

In [103]:
olim = olim.rename(columns={'Sigla_pais': 'Sigla'})
olim.head()

,ID,Nome,Sexo,Idade,Altura,Peso,Time,Sigla,Jogos,Ano,Temporada,Cidade,Esporte,Evento,Medalha,Pais,Observacao
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,China,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,China,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,Denmark,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark,NaN
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,Netherlands,NaN

In [104]:
olim.shape

(271116, 17)

In [105]:
olim = olim.drop_duplicates()

In [106]:
olim.shape

(269731, 17)

In [107]:
olim.isnull().all()

ID            False
Nome          False
Sexo          False
Idade         False
Altura        False
Peso          False
Time          False
Sigla         False
Jogos         False
Ano           False
Temporada     False
Cidade        False
Esporte       False
Evento        False
Medalha       False
Pais          False
Observacao    False
dtype: bool

In [108]:
olim.isnull().any()

ID            False
Nome          False
Sexo          False
Idade          True
Altura         True
Peso           True
Time          False
Sigla         False
Jogos         False
Ano           False
Temporada     False
Cidade        False
Esporte       False
Evento        False
Medalha        True
Pais           True
Observacao     True
dtype: bool

In [109]:
olim[olim['Altura'].isnull()].head()

,ID,Nome,Sexo,Idade,Altura,Peso,Time,Sigla,Jogos,Ano,Temporada,Cidade,Esporte,Evento,Medalha,Pais,Observacao
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,Denmark,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark,NaN
29,10,"Einar Ferdinand ""Einari"" Aalto",M,26.0,NaN,NaN,Finland,FIN,1952 Summer,1952,Summer,Helsinki,Swimming,Swimming Men's 400 metres Freestyle,NaN,Finland,NaN
35,15,Arvo Ossian Aaltonen,M,22.0,NaN,NaN,Finland,FIN,1912 Summer,1912,Summer,Stockholm,Swimming,Swimming Men's 200 metres Breaststroke,NaN,Finland,NaN
36,15,Arvo Ossian Aaltonen,M,22.0,NaN,NaN,Finland,FIN,1912 Summer,1912,Summer,Stockholm,Swimming,Swimming Men's 400 metres Breaststroke,NaN,Finland,NaN

In [110]:
olim.isnull().sum()

ID                 0
Nome               0
Sexo               0
Idade           9315
Altura         58814
Peso           61527
Time               0
Sigla              0
Jogos              0
Ano                0
Temporada          0
Cidade             0
Esporte            0
Evento             0
Medalha       229959
Pais             370
Observacao    264696
dtype: int64

In [111]:
olim = olim.dropna(subset = ['Peso'])
olim.isnull().sum()

ID                 0
Nome               0
Sexo               0
Idade            862
Altura          1364
Peso               0
Time               0
Sigla              0
Jogos              0
Ano                0
Temporada          0
Cidade             0
Esporte            0
Evento             0
Medalha       177748
Pais             277
Observacao    204692
dtype: int64

In [112]:
olim = olim.dropna(subset = ['Idade'])
olim = olim.dropna(subset = ['Altura'])
olim.isnull().sum()

ID                 0
Nome               0
Sexo               0
Idade              0
Altura             0
Peso               0
Time               0
Sigla              0
Jogos              0
Ano                0
Temporada          0
Cidade             0
Esporte            0
Evento             0
Medalha       175971
Pais             270
Observacao    202659
dtype: int64

In [113]:
olim.shape

(206152, 17)

In [114]:
olim_remover = olim
# Cópia do dataset

In [115]:
olim_remover = olim_remover.dropna(axis = 1, how = 'all')
olim_remover.shape

(206152, 17)

In [116]:
olim_remover = olim_remover.dropna(axis = 1, how = 'any')

In [117]:
olim_remover.shape

(206152, 14)

In [118]:
olim_remover.columns

Index(['ID', 'Nome', 'Sexo', 'Idade', 'Altura', 'Peso', 'Time', 'Sigla',
       'Jogos', 'Ano', 'Temporada', 'Cidade', 'Esporte', 'Evento'],
      dtype='object')

In [119]:
olim_remover = olim_remover.drop(columns=['Altura'])
olim_remover.head(3)

,ID,Nome,Sexo,Idade,Peso,Time,Sigla,Jogos,Ano,Temporada,Cidade,Esporte,Evento
0,1,A Dijiang,M,24.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball
1,2,A Lamusi,M,23.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight
4,5,Christine Jacoba Aaftink,F,21.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres

In [120]:
olim.shape

(206152, 17)

In [121]:
olim['Sexo'].unique()

array(['M', 'F'], dtype=object)

In [122]:
olim['Sexo'].value_counts()

M    139441
F     66711
Name: Sexo, dtype: int64

In [123]:
olim['Cidade'].unique()

array(['Barcelona', 'London', 'Calgary', 'Albertville', 'Lillehammer',
       'Salt Lake City', 'Lake Placid', 'Sydney', 'Atlanta', 'Sochi',
       'Helsinki', 'Nagano', 'Torino', 'Rio de Janeiro', 'Athina',
       'Sarajevo', 'Mexico City', 'Munich', 'Berlin', 'Melbourne', 'Roma',
       'Antwerpen', 'Paris', 'Amsterdam', 'Beijing', 'Montreal', 'Seoul',
       'Moskva', 'Los Angeles', 'Tokyo', 'Vancouver', 'Innsbruck',
       'Grenoble', 'Sapporo', 'Chamonix', 'Stockholm',
       'Garmisch-Partenkirchen', 'Sankt Moritz', "Cortina d'Ampezzo",
       'Squaw Valley', 'Oslo', 'St. Louis'], dtype=object)

In [124]:
olim['Cidade'].value_counts()

London                    13803
Sydney                    13682
Athina                    13640
Rio de Janeiro            13443
Beijing                   13402
Atlanta                   11838
Seoul                     11618
Barcelona                 10326
Munich                     9847
Los Angeles                9356
Mexico City                8402
Montreal                   8265
Roma                       7526
Tokyo                      7368
Moskva                     6843
Sochi                      4673
Vancouver                  4378
Torino                     4365
Salt Lake City             4060
Nagano                     3518
Lillehammer                2971
Albertville                2783
Innsbruck                  2645
Melbourne                  2155
Calgary                    2018
Sarajevo                   1951
Helsinki                   1914
Grenoble                   1801
Sapporo                    1635
Lake Placid                1417
Berlin                      827
Stockholm                   657
Amsterdam                   621
Paris                       613
Squaw Valley                512
Antwerpen                   428
Cortina d'Ampezzo           334
Sankt Moritz                146
Oslo                        144
St. Louis                   119
Garmisch-Partenkirchen       69
Chamonix                     39
Name: Cidade, dtype: int64

In [125]:
olim['Sexo'].value_counts(normalize = True)

M    0.676399
F    0.323601
Name: Sexo, dtype: float64

In [126]:
olim['Cidade'].value_counts(normalize = True)

London                    0.066955
Sydney                    0.066369
Athina                    0.066165
Rio de Janeiro            0.065209
Beijing                   0.065010
Atlanta                   0.057424
Seoul                     0.056356
Barcelona                 0.050089
Munich                    0.047766
Los Angeles               0.045384
Mexico City               0.040756
Montreal                  0.040092
Roma                      0.036507
Tokyo                     0.035741
Moskva                    0.033194
Sochi                     0.022668
Vancouver                 0.021237
Torino                    0.021174
Salt Lake City            0.019694
Nagano                    0.017065
Lillehammer               0.014412
Albertville               0.013500
Innsbruck                 0.012830
Melbourne                 0.010453
Calgary                   0.009789
Sarajevo                  0.009464
Helsinki                  0.009284
Grenoble                  0.008736
Sapporo                   0.007931
Lake Placid               0.006874
Berlin                    0.004012
Stockholm                 0.003187
Amsterdam                 0.003012
Paris                     0.002974
Squaw Valley              0.002484
Antwerpen                 0.002076
Cortina d'Ampezzo         0.001620
Sankt Moritz              0.000708
Oslo                      0.000699
St. Louis                 0.000577
Garmisch-Partenkirchen    0.000335
Chamonix                  0.000189
Name: Cidade, dtype: float64

In [127]:
# Ordem Crescente
olim.sort_values(by = 'Cidade')

,ID,Nome,Sexo,Idade,Altura,Peso,Time,Sigla,Jogos,Ano,Temporada,Cidade,Esporte,Evento,Medalha,Pais,Observacao
101087,51116,Hur Seung-Wook,M,19.0,173.0,89.0,South Korea,KOR,1992 Winter,1992,Winter,Albertville,Alpine Skiing,Alpine Skiing Men's Slalom,NaN,South Korea,NaN
251056,125746,Bart Veldkamp,M,24.0,181.0,84.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Men's 5,000 metres",NaN,Netherlands,NaN
27788,14419,Philippe Bozon,M,25.0,180.0,87.0,France,FRA,1992 Winter,1992,Winter,Albertville,Ice Hockey,Ice Hockey Men's Ice Hockey,NaN,France,NaN
251055,125746,Bart Veldkamp,M,24.0,181.0,84.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Men's 1,500 metres",NaN,Netherlands,NaN
103975,52617,Jari Olavi Isomets,M,23.0,175.0,64.0,Finland,FIN,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN,Finland,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137367,69058,Evelyne Leu,F,33.0,167.0,62.0,Switzerland,SUI,2010 Winter,2010,Winter,Vancouver,Freestyle Skiing,Freestyle Skiing Women's Aerials,NaN,Switzerland,NaN
105422,53325,Jaromr Jgr,M,37.0,189.0,102.0,Czech Republic,CZE,2010 Winter,2010,Winter,Vancouver,Ice Hockey,Ice Hockey Men's Ice Hockey,NaN,Czech Republic,NaN
49123,25296,Maria Danou,F,19.0,168.0,52.0,Greece,GRE,2010 Winter,2010,Winter,Vancouver,Cross Country Skiing,Cross Country Skiing Women's 10 kilometres,NaN,Greece,NaN
124838,63019,Markku Olavi Koski,M,28.0,181.0,73.0,Finland,FIN,2010 Winter,2010,Winter,Vancouver,Snowboarding,Snowboarding Men's Halfpipe,NaN,Finland,NaN
96540,48877,Odd-Bjrn Hjelmeset,M,38.0,180.0,69.0,Norway,NOR,2010 Winter,2010,Winter,Vancouver,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,NaN,Norway,NaN

In [129]:
# Ordem Decrescente
olim.sort_values(by = ['Cidade'], ascending = False)

,ID,Nome,Sexo,Idade,Altura,Peso,Time,Sigla,Jogos,Ano,Temporada,Cidade,Esporte,Evento,Medalha,Pais,Observacao
225124,113106,Song Chaoqing,F,18.0,170.0,60.0,China,CHN,2010 Winter,2010,Winter,Vancouver,Biathlon,Biathlon Women's 15 kilometres,NaN,China,NaN
92051,46643,Sverre Haugli,M,27.0,183.0,79.0,Norway,NOR,2010 Winter,2010,Winter,Vancouver,Speed Skating,"Speed Skating Men's 5,000 metres",NaN,Norway,NaN
92050,46642,Maren Haugli (-Tufto),F,24.0,173.0,62.0,Norway,NOR,2010 Winter,2010,Winter,Vancouver,Speed Skating,"Speed Skating Women's 5,000 metres",NaN,Norway,NaN
92049,46642,Maren Haugli (-Tufto),F,24.0,173.0,62.0,Norway,NOR,2010 Winter,2010,Winter,Vancouver,Speed Skating,"Speed Skating Women's 3,000 metres",NaN,Norway,NaN
114492,57984,Joji Kato,M,25.0,165.0,65.0,Japan,JPN,2010 Winter,2010,Winter,Vancouver,Speed Skating,Speed Skating Men's 500 metres,Bronze,Japan,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57272,29338,"Edward Paul ""Ted"" Donato",M,22.0,178.0,82.0,United States,USA,1992 Winter,1992,Winter,Albertville,Ice Hockey,Ice Hockey Men's Ice Hockey,NaN,USA,NaN
114104,57803,Noriaki Kasai,M,19.0,176.0,60.0,Japan,JPN,1992 Winter,1992,Winter,Albertville,Ski Jumping,"Ski Jumping Men's Normal Hill, Individual",NaN,Japan,NaN
193362,97064,Kathryn Pritchard,F,19.0,152.0,48.0,Great Britain,GBR,1992 Winter,1992,Winter,Albertville,Figure Skating,Figure Skating Mixed Pairs,NaN,UK,NaN
231754,116255,Seppo Ilmari Suhonen,M,24.0,184.0,82.0,Finland,FIN,1992 Winter,1992,Winter,Albertville,Biathlon,Biathlon Men's 20 kilometres,NaN,Finland,NaN
98206,49702,Sylvia Honegger (-Wigger),F,23.0,165.0,51.0,Switzerland,SUI,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Women's 5 kilometres,NaN,Switzerland,NaN

In [138]:
# Atleta mais alto que competiu nas Olimpíadas
print(olim['Altura'].max(), "Mais Alto")
print(olim['Altura'].mean(), ' Média das alturas')

226.0 Mais Alto
175.3720555706469  Média das alturas

In [131]:
# Atleta mais pesado que competiu nas Olimpíadas
olim['Peso'].max()

214.0

In [144]:
# Atleta de maior idade que competiu nas Olimpíadas
olim['Idade'].max()

71.0

In [140]:
olim['Altura'].describe()

count    206152.000000
mean        175.372056
std          10.545816
min         127.000000
25%         168.000000
50%         175.000000
75%         183.000000
max         226.000000
Name: Altura, dtype: float64

In [141]:
olim['Idade'].describe()

count    206152.000000
mean         25.054736
std           5.481679
min          11.000000
25%          21.000000
50%          24.000000
75%          28.000000
max          71.000000
Name: Idade, dtype: float64

In [145]:
olim['Altura'].sort_values(ascending = False).head(5)

265042    226.0
265041    226.0
265040    226.0
32376     223.0
207375    223.0
Name: Altura, dtype: float64

In [147]:
olim['Altura'].sort_values(ascending = True).head(10)

29333     127.0
29334     127.0
29335     127.0
29336     127.0
164821    127.0
29337     127.0
29338     127.0
180615    128.0
220270    130.0
159934    130.0
Name: Altura, dtype: float64

In [153]:
olim[olim['Altura'] >200].head(10)

,ID,Nome,Sexo,Idade,Altura,Peso,Time,Sigla,Jogos,Ano,Temporada,Cidade,Esporte,Evento,Medalha,Pais,Observacao
299,161,Hossam Abdalla,M,28.0,203.0,97.0,Egypt,EGY,2016 Summer,2016,Summer,Rio de Janeiro,Volleyball,Volleyball Men's Volleyball,NaN,Egypt,NaN
443,246,Mamdouh Abdelrehim,M,26.0,207.0,90.0,Egypt,EGY,2016 Summer,2016,Summer,Rio de Janeiro,Volleyball,Volleyball Men's Volleyball,NaN,Egypt,NaN
609,351,Julius Shareef Abdur-Rahim,M,23.0,202.0,104.0,United States,USA,2000 Summer,2000,Summer,Sydney,Basketball,Basketball Men's Basketball,Gold,USA,NaN
820,468,Abdelhalim Muhammad Abou,M,27.0,210.0,88.0,Egypt,EGY,2016 Summer,2016,Summer,Rio de Janeiro,Volleyball,Volleyball Men's Volleyball,NaN,Egypt,NaN
833,474,Essameldin Abou El-Nein,M,29.0,205.0,102.0,Egypt,EGY,1984 Summer,1984,Summer,Los Angeles,Basketball,Basketball Men's Basketball,NaN,Egypt,NaN
1186,664,Kieron Robert Achara,M,29.0,208.0,110.0,Great Britain,GBR,2012 Summer,2012,Summer,London,Basketball,Basketball Men's Basketball,NaN,UK,NaN
1322,742,Roberto Acua,M,25.0,208.0,109.0,Argentina,ARG,2016 Summer,2016,Summer,Rio de Janeiro,Basketball,Basketball Men's Basketball,NaN,Argentina,NaN
1343,760,Constantin Adam,M,20.0,202.0,105.0,Romania,ROU,2016 Summer,2016,Summer,Rio de Janeiro,Rowing,Rowing Men's Coxless Fours,NaN,Romania,NaN
1634,906,Peter Adelaar,M,33.0,213.0,135.0,Netherlands,NED,1980 Summer,1980,Summer,Moskva,Judo,Judo Men's Heavyweight,NaN,Netherlands,NaN
1635,906,Peter Adelaar,M,33.0,213.0,135.0,Netherlands,NED,1980 Summer,1980,Summer,Moskva,Judo,Judo Men's Open Class,NaN,Netherlands,NaN

In [155]:
olim[olim['Altura'] >225].head(10)

,ID,Nome,Sexo,Idade,Altura,Peso,Time,Sigla,Jogos,Ano,Temporada,Cidade,Esporte,Evento,Medalha,Pais,Observacao
265040,132627,Yao Ming,M,20.0,226.0,141.0,China,CHN,2000 Summer,2000,Summer,Sydney,Basketball,Basketball Men's Basketball,NaN,China,NaN
265041,132627,Yao Ming,M,23.0,226.0,141.0,China,CHN,2004 Summer,2004,Summer,Athina,Basketball,Basketball Men's Basketball,NaN,China,NaN
265042,132627,Yao Ming,M,27.0,226.0,141.0,China,CHN,2008 Summer,2008,Summer,Beijing,Basketball,Basketball Men's Basketball,NaN,China,NaN

In [157]:
olim[olim['Altura'] < 130].head()

,ID,Nome,Sexo,Idade,Altura,Peso,Time,Sigla,Jogos,Ano,Temporada,Cidade,Esporte,Evento,Medalha,Pais,Observacao
29333,15150,Rosario Briones,F,15.0,127.0,42.0,Mexico,MEX,1968 Summer,1968,Summer,Mexico City,Gymnastics,Gymnastics Women's Individual All-Around,NaN,Mexico,NaN
29334,15150,Rosario Briones,F,15.0,127.0,42.0,Mexico,MEX,1968 Summer,1968,Summer,Mexico City,Gymnastics,Gymnastics Women's Team All-Around,NaN,Mexico,NaN
29335,15150,Rosario Briones,F,15.0,127.0,42.0,Mexico,MEX,1968 Summer,1968,Summer,Mexico City,Gymnastics,Gymnastics Women's Floor Exercise,NaN,Mexico,NaN
29336,15150,Rosario Briones,F,15.0,127.0,42.0,Mexico,MEX,1968 Summer,1968,Summer,Mexico City,Gymnastics,Gymnastics Women's Horse Vault,NaN,Mexico,NaN
29337,15150,Rosario Briones,F,15.0,127.0,42.0,Mexico,MEX,1968 Summer,1968,Summer,Mexico City,Gymnastics,Gymnastics Women's Uneven Bars,NaN,Mexico,NaN

In [158]:
olim.head(40)

,ID,Nome,Sexo,Idade,Altura,Peso,Time,Sigla,Jogos,Ano,Temporada,Cidade,Esporte,Evento,Medalha,Pais,Observacao
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,China,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,China,NaN
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,Netherlands,NaN
5,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN,Netherlands,NaN
6,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN,Netherlands,NaN
7,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN,Netherlands,NaN
8,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN,Netherlands,NaN
9,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,"Speed Skating Women's 1,000 metres",NaN,Netherlands,NaN
10,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN,USA,NaN
11,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,NaN,USA,NaN
12,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN,USA,NaN
13,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN,USA,NaN
14,6,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN,USA,NaN
15,6,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 30 kilometres,NaN,USA,NaN
16,6,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN,USA,NaN
17,6,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN,USA,NaN
18,7,John Aalberg,M,31.0,183.0,72.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN,USA,NaN
19,7,John Aalberg,M,31.0,183.0,72.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,NaN,USA,NaN
20,7,John Aalberg,M,31.0,183.0,72.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN,USA,NaN
21,7,John Aalberg,M,31.0,183.0,72.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN,USA,NaN
22,7,John Aalberg,M,33.0,183.0,72.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN,USA,NaN
23,7,John Aalberg,M,33.0,183.0,72.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 30 kilometres,NaN,USA,NaN
24,7,John Aalberg,M,33.0,183.0,72.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN,USA,NaN
25,7,John Aalberg,M,33.0,183.0,72.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN,USA,NaN
28,9,Antti Sami Aalto,M,26.0,186.0,96.0,Finland,FIN,2002 Winter,2002,Winter,Salt Lake City,Ice Hockey,Ice Hockey Men's Ice Hockey,NaN,Finland,NaN
30,11,Jorma Ilmari Aalto,M,22.0,182.0,76.5,Finland,FIN,1980 Winter,1980,Winter,Lake Placid,Cross Country Skiing,Cross Country Skiing Men's 30 kilometres,NaN,Finland,NaN
31,12,Jyri Tapani Aalto,M,31.0,172.0,70.0,Finland,FIN,2000 Summer,2000,Summer,Sydney,Badminton,Badminton Men's Singles,NaN,Finland,NaN
32,13,Minna Maarit Aalto,F,30.0,159.0,55.5,Finland,FIN,1996 Summer,1996,Summer,Atlanta,Sailing,Sailing Women's Windsurfer,NaN,Finland,NaN
33,13,Minna Maarit Aalto,F,34.0,159.0,55.5,Finland,FIN,2000 Summer,2000,Summer,Sydney,Sailing,Sailing Women's Windsurfer,NaN,Finland,NaN
34,14,Pirjo Hannele Aalto (Mattila-),F,32.0,171.0,65.0,Finland,FIN,1994 Winter,1994,Winter,Lillehammer,Biathlon,Biathlon Women's 7.5 kilometres Sprint,NaN,Finland,NaN
40,16,Juhamatti Tapio Aaltonen,M,28.0,184.0,85.0,Finland,FIN,2014 Winter,2014,Winter,Sochi,Ice Hockey,Ice Hockey Men's Ice Hockey,Bronze,Finland,NaN
41,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Individual All-Around,Bronze,Finland,NaN
42,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Team All-Around,Gold,Finland,NaN
43,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Floor Exercise,NaN,Finland,NaN
44,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Horse Vault,Gold,Finland,NaN
45,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Parallel Bars,NaN,Finland,NaN
46,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Horizontal Bar,NaN,Finland,NaN
47,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Rings,NaN,Finland,NaN
48,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Pommelled Horse,Gold,Finland,NaN
49,17,Paavo Johannes Aaltonen,M,32.0,175.0,64.0,Finland,FIN,1952 Summer,1952,Summer,Helsinki,Gymnastics,Gymnastics Men's Individual All-Around,NaN,Finland,NaN

In [161]:
olim['Time'] = olim['Time'].str.replace('Netherlands', 'Holanda')

In [162]:
olim.head(40)

,ID,Nome,Sexo,Idade,Altura,Peso,Time,Sigla,Jogos,Ano,Temporada,Cidade,Esporte,Evento,Medalha,Pais,Observacao,time
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,China,NaN,China
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,China,NaN,China
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Holanda,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,Netherlands,NaN,Holanda
5,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Holanda,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN,Netherlands,NaN,Holanda
6,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Holanda,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN,Netherlands,NaN,Holanda
7,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Holanda,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN,Netherlands,NaN,Holanda
8,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Holanda,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN,Netherlands,NaN,Holanda
9,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Holanda,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,"Speed Skating Women's 1,000 metres",NaN,Netherlands,NaN,Holanda
10,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN,USA,NaN,United States
11,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,NaN,USA,NaN,United States
12,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN,USA,NaN,United States
13,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN,USA,NaN,United States
14,6,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN,USA,NaN,United States
15,6,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 30 kilometres,NaN,USA,NaN,United States
16,6,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN,USA,NaN,United States
17,6,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN,USA,NaN,United States
18,7,John Aalberg,M,31.0,183.0,72.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN,USA,NaN,United States
19,7,John Aalberg,M,31.0,183.0,72.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,NaN,USA,NaN,United States
20,7,John Aalberg,M,31.0,183.0,72.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN,USA,NaN,United States
21,7,John Aalberg,M,31.0,183.0,72.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN,USA,NaN,United States
22,7,John Aalberg,M,33.0,183.0,72.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN,USA,NaN,United States
23,7,John Aalberg,M,33.0,183.0,72.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 30 kilometres,NaN,USA,NaN,United States
24,7,John Aalberg,M,33.0,183.0,72.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN,USA,NaN,United States
25,7,John Aalberg,M,33.0,183.0,72.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN,USA,NaN,United States
28,9,Antti Sami Aalto,M,26.0,186.0,96.0,Finland,FIN,2002 Winter,2002,Winter,Salt Lake City,Ice Hockey,Ice Hockey Men's Ice Hockey,NaN,Finland,NaN,Finland
30,11,Jorma Ilmari Aalto,M,22.0,182.0,76.5,Finland,FIN,1980 Winter,1980,Winter,Lake Placid,Cross Country Skiing,Cross Country Skiing Men's 30 kilometres,NaN,Finland,NaN,Finland
31,12,Jyri Tapani Aalto,M,31.0,172.0,70.0,Finland,FIN,2000 Summer,2000,Summer,Sydney,Badminton,Badminton Men's Singles,NaN,Finland,NaN,Finland
32,13,Minna Maarit Aalto,F,30.0,159.0,55.5,Finland,FIN,1996 Summer,1996,Summer,Atlanta,Sailing,Sailing Women's Windsurfer,NaN,Finland,NaN,Finland
33,13,Minna Maarit Aalto,F,34.0,159.0,55.5,Finland,FIN,2000 Summer,2000,Summer,Sydney,Sailing,Sailing Women's Windsurfer,NaN,Finland,NaN,Finland
34,14,Pirjo Hannele Aalto (Mattila-),F,32.0,171.0,65.0,Finland,FIN,1994 Winter,1994,Winter,Lillehammer,Biathlon,Biathlon Women's 7.5 kilometres Sprint,NaN,Finland,NaN,Finland
40,16,Juhamatti Tapio Aaltonen,M,28.0,184.0,85.0,Finland,FIN,2014 Winter,2014,Winter,Sochi,Ice Hockey,Ice Hockey Men's Ice Hockey,Bronze,Finland,NaN,Finland
41,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Individual All-Around,Bronze,Finland,NaN,Finland
42,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Team All-Around,Gold,Finland,NaN,Finland
43,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Floor Exercise,NaN,Finland,NaN,Finland
44,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Horse Vault,Gold,Finland,NaN,Finland
45,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Parallel Bars,NaN,Finland,NaN,Finland
46,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Horizontal Bar,NaN,Finland,NaN,Finland
47,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Rings,NaN,Finland,NaN,Finland
48,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Pommelled Horse,Gold,Finland,NaN,Finland
49,17,Paavo Johannes Aaltonen,M,32.0,175.0,64.0,Finland,FIN,1952 Summer,1952,Summer,Helsinki,Gymnastics,Gymnastics Men's Individual All-Around,NaN,Finland,NaN,Finland